<ion-tabs>
  <ion-tab-bar style="background-color: #004AAD;">
    <ion-tab-button tab="profile-client" style="background-color: #004AAD; color: white;">
      <ion-icon name="person-circle-outline" style="color: white;"></ion-icon>
      Profile
    </ion-tab-button>

    <ion-tab-button tab="home" style="background-color: #004AAD; color: white;">
      <ion-icon name="home" style="color: white;"></ion-icon>
      Accueil
    </ion-tab-button>

    <ion-tab-button tab="panier" style="background-color: #004AAD; color: white;">
      <ion-icon name="cart-outline" style="color: white;"></ion-icon>
      Panier
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>