page-login {
    .container {
      text-align: center;
      padding: 20px;
    }
  
    .logo {
      width: 2px; 
      height: auto;
      display: block;
      margin: 0 auto;
    }
  
    .app-name {
      font-weight: bold;
      margin-top: 10px;
    }
  
    .connect-text {
      margin-top: 20px;
      text-align: center;
    }
  
    .login-button {
      margin-top: 20px;
    }
  
    .no-account {
      margin-top: 20px;
    }
  
    .custom-item {
      border: 1px solid #ccc; 
      border-radius: 5px; 
      margin-bottom: 20px;
      position: relative;
    }

    .custom-item ion-label {
      position: absolute;
      top: -10px; 
      left: 10px; 
      background-color: white; 
      padding: 0 5px; 
    }

}

/* Style pour le snackbar de succès */
.success-snackbar {
  background-color: green; /* Fond vert */
  color: white; /* Texte blanc */
}

/* Style pour le snackbar d'erreur */
.error-snackbar {
  background-color: red; /* Fond rouge */
  color: white; /* Texte blanc */
}